<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="FormReleaf Testcases">
        <classes>
            <class name="com.vantage.formreleaf2.LoginTest">
            <class name="com.vantage.formreleaf2.UserSignUp">
            </class>
        </classes>
    </test>
</suite>